.searchBox {
	padding: 5px 10px;
	margin-bottom: 10px;
    background-color: yellow;
}
.ui { padding: 5px 10px; height:auto; top:30%; right:0%; z-index:9999; color: black; border-radius: 3px; font-size: 20px; cursor:pointer; font-weight:900; font-family: Open Sans, sans-serif; width:100px; border:1px solid black; } 
#feedbackbox{ padding: 5px 10px; height:auto; position:fixed; top:30%; left:0%; z-index:9999; color: black; border-radius: 3px; font-size: 20px; cursor:pointer; font-weight:900; font-family: Open Sans, sans-serif; width:190px; border:1px solid black; } 
textarea.test {
	width: 195px;
	height: 126px;
	border-color: Transparent; 
	border: 0;
	overflow: auto;
	font-size: 15px; 
	margin: 0px;
}